.slider-arrow {

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    background: rgba(#fff, .3);
    border: 2px solid #fff;
    border-radius: 50%;
    opacity: .7;
    cursor: pointer;
    transition: .5s;

    &:hover {
      opacity: 1;
    }


    svg {
      fill: #fff;
    }
  }

}
