#archive-institute {
  padding-top: 100px;
  margin-top: -100px;

  .subtitle {
    font-size: $h5-font-size / 1.2;
    margin-top: 30px;
    padding: 40px 30px;
    background: url('../images/bg/decor/pattern-bg.jpg') 50% 50% /cover no-repeat;
  }
}

.single-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  margin-bottom: 30px;
  padding: 45px 0 20px;
  border-top: 2px solid $light;

  @media (min-width: map_get($grid-breakpoints, md)) {
    flex-direction: row;
    align-items: center;
    margin-bottom: 60px;
  }

  .content {
    max-width: 500px;
  }

  .title {

    a {
      color: #6A8D9C;
      font-weight: bold;
    }
  }

  .info {
    font-size: 16px;

    &__data {
      position: relative;

      span {
        font-weight: bold;
        margin-right: 5px;
      }
    }

    &__place {
      position: relative;
      margin-right: 15px;
      padding-right: 15px;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 2px;
        background: #575757;
      }
    }
  }

  .text {
    margin-top: 20px;
    color: #575757;
  }

  .img {
    position: relative;
    margin: 0 0 20px;
    width: 250px;
    height: 250px;
    @extend %img;

    @media (min-width: map_get($grid-breakpoints, lg)) {
      margin: 0;
      margin-right: 25px;
    }
  }
}

.quote-slider {
  margin-bottom: 60px;
  box-shadow: 0px 0px 23px 0px rgba(51, 51, 51, 1);

  &::before {
    content: '"';
    position: absolute;
    top: -120px;
    left: 0px;
    font-size: 150px;
    color: $dark;
    font-family: 'Times New Roman', sans-serif;
    font-style: italic;
    transform: rotate(180deg);
    line-height: 1;
    z-index: 4;

    @media (min-width: map_get($grid-breakpoints, sm)) {
      left: -20x;
      font-size: 170px;
    }
  }

  &::after {
    content: '"';
    position: absolute;
    bottom: -120px;
    right: 0px;
    font-size: 150px;
    color: $dark;
    font-family: 'Times New Roman', sans-serif;
    font-style: italic;
    line-height: 1;
    z-index: 4;

    @media (min-width: map_get($grid-breakpoints, sm)) {
      right: -20px;
      font-size: 170px;
    }
  }
}

.quote-slider-item {
  width: 100%;
  padding: 40px 15px 60px;
  position: relative;
  background: #fff;
  text-align: center;
  z-index: 3;

  .img {
    @extend %pos;
    @extend %img;
    top: -15px;
    bottom: -15px;
    z-index: -3;
  }

  &__text {
    font-size: $h4-font-size / 1.6;
    color: #fff;

    @media (min-width: map_get($grid-breakpoints, sm)) {
      font-size: $h4-font-size;
    }
  }

  &__author {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background: $dark;
    color: #fff;
    font-weight: 200;
    padding: 10px 15px;
    font-size: 14px;

    @media (min-width: map_get($grid-breakpoints, sm)) {
      font-size: $font-size-base;
    }
  }

}