#call {
  padding: 30px 0;

  .call-row {
    padding-top: 50px;
    border-top: 2px solid #DCDCDC;
  }
}

.call-description {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: map_get($grid-breakpoints, sm)) {
    justify-content: flex-start;
  }

  .title {
    max-width: 110px;
    font-weight: bold;
    line-height: 1.1;
    color: $dark;

    &:hover {
      color: $dark;
    }
  }
}