#app-header {
  @extend %pos;
  bottom: auto;
  background: rgba(#727272, .8);
  z-index: 45;
  z-index: 100;

  .btn {
    padding: 23px 15px;
  }

  .logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 200px;
    height: 80px;
    @extend %img;

    @media (min-width: map_get($grid-breakpoints, sm)) {
      left: 25%;
      width: 250px;
      height: 100px;
    }

    @media (min-width: map_get($grid-breakpoints, lg)) {
      left: 40%;
    }

    @media (min-width: map_get($grid-breakpoints, xl)) {
      left: 50%;
    }

  }

  .site-nav {

    ul {
      display: none;
      align-items: center;

      @media (min-width: map_get($grid-breakpoints, xl)) {
        display: flex;
      }

      li {
        margin-right: 20px;

        &:last-of-type {
          margin-right: 0;
        }

        a {
          color: #fff;
          font-size: 16px;

          &:hover {
            color: $primary;
          }
        }
      }
    }
  }

  .social-nav {

    .languages-list {

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65px;
        height: 65px;
        color: #fff;
      }
    }
  }

  &.header-light {
    position: relative;
    background: rgba($light, .8);

    .languages-list {

      li {
        color: $dark;
      }
    }

    .site-nav {

      ul {

        li {

          a {
            color: $dark;

            &:hover {
              color: $primary;
            }
          }
        }
      }
    }

    .burger-menu {

      .line {
        background: $dark;
      }
    }
  }
  
  &.header-secondary {
    position: relative;
    background: $light;

    .languages-list {

      li {
        color: $dark;
      }
    }

    .site-nav {

      ul {

        li {

          a {
            color: $dark;

            &:hover {
              color: $primary;
            }
          }
        }
      }
    }

    .burger-menu {

      .line {
        background: $dark;
      }
    }
  }
}
