#app-header {
  @extend %pos;
  padding: 10px 0;
  bottom: auto;
  background: rgba(#727272, .8);
  z-index: 45;
  z-index: 100;

  @media (min-width: map_get($grid-breakpoints, sm)) {
    padding: 0;
  }

  .btn {
    padding: 23px 15px;
  }

  .logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 160px;
    height: 65px;
    @extend %img;

    @media (min-width: map_get($grid-breakpoints, sm)) {
      left: 25%;
      width: 250px;
      height: 100px;
    }

    @media (min-width: map_get($grid-breakpoints, lg)) {
      left: 40%;
    }

    @media (min-width: map_get($grid-breakpoints, xl)) {
      left: 50%;
    }

  }

  .site-nav {

    ul {
      display: none;
      align-items: center;

      @media (min-width: map_get($grid-breakpoints, xl)) {
        display: flex;
      }

      li {
        position: relative;
        margin-right: 20px;

        &:last-of-type {
          margin-right: 0;
        }

        &:hover {

          ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
          }
        }


        ul {
          top: 100%;
          left: 0;
          padding-top: 18px;
          position: absolute;
          display: none;

          li {
            width: 100%;
            padding: 3px 10px;
            background: $primary;
            margin-right: 0;

            a {
              text-overflow: ellipsis;
              white-space: nowrap;
              color: #fff !important;
              &:hover {
                color: #fff !important;
              }
            }
          }
        }

        a {
          color: #fff;
          font-size: 16px;

          &:hover {
            color: $primary;
          }
        }
      }
    }
  }

  .social-nav {

    .languages-list {

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65px;
        height: 65px;
        color: #fff;
      }
    }
  }

  &.header-light {
    position: relative;
    background: rgba($light, .8);

    .languages-list {

      li {
        color: $dark;
      }
    }

    .site-nav {

      ul {

        li {

          a {
            color: $dark;

            &:hover {
              color: $primary;
            }
          }
        }
      }
    }

    .burger-menu {

      .line {
        background: $dark;
      }
    }
  }

  &.header-secondary {
    position: relative;
    background: $light;

    .languages-list {

      li {
        color: $dark;
      }
    }

    .site-nav {

      ul {

        li {

          a {
            color: $dark;

            &:hover {
              color: $primary;
            }
          }
        }
      }
    }

    .burger-menu {

      .line {
        background: $dark;
      }
    }
  }
}
