#page-help {
  padding: 150px 0;
  min-height: 100vh;
  background: url('../images/bg/page-help-bg.jpg') 50% 50% /cover no-repeat;

  .description {
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    padding: 10px 20px;
    text-align: center;
    border-radius: 0 0 5px 5px;
    width: 98%;
  }

  .content {

    &-form {
      position: relative;
      background: #fff;
      box-shadow: 0px 0px 40px -9px rgba(51, 51, 3, 1);
    }
  }

  .form-header {
    position: relative;
    padding: 100px 15px 30px;
    background: $primary;
    color: #fff;

    @media (min-width: map_get($grid-breakpoints, sm)) {
      padding: 120px 60px 30px;
    }

    .logo {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 300px;
      height: 90px;
      @extend %img;
      border-radius: 0 0 5px 5px;
    }

    .title {
      text-align: center;
      font-size: 20px;

      @media (min-width: map_get($grid-breakpoints, sm)) {
        font-size: 24px;
      }
    }
  }

  .form-sum {
    padding: 0 15px;
    max-width: 480px;
    margin: 30px auto;

    @media (min-width: map_get($grid-breakpoints, sm)) {
      padding: 0;
    }

    .form-group {
      margin: 20px 0;

      label {
        margin: 0;
        margin-right: 20px;
        font-size: 20px;
        color: #737373;
      }

      .form-control-sum {
        outline: none;
        width: 90px;
        padding-right: 0;
        padding: 10px 15px;
        border: 1px solid #CCCCCC;
      }
    }

    &__title {
      margin-bottom: 15px;
      font-weight: bold;
      font-size: 26px;
    }

    &-choice {
      max-width: 400px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;

      li {
        background: #777777;
        padding: 15px;
        font-size: 20px;
        color: #fff;
        cursor: pointer;
        transition: .5s;

        &.active {
          background: $primary;
        }
      }
    }

    &-final {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-item {
        font-size: 16px;
        color: #737373;


        @media (min-width: map_get($grid-breakpoints, sm)) {
          font-size: 20px;
        }
      }
    }
  }

  .form-body {
    padding: 25px 50px 45px;
  }
}